In [1]:
#Import Packages 

import pandas as pd

In [2]:
#Read in the CSV file

file_path = "marketing_campaign_data_py.csv"
df = pd.read_csv(file_path)
print ("CSV File has been successfully read in")

CSV File has been successfully read in

In [3]:
#Verify the dataframe 

print (df)
df.head()

           Date   Campaign Campaign Type  Impressions  Clicks  Conversions  \
0      01/01/23   SnapChat   Retargeting       102704    1593          157
1      01/01/23    YouTube   Retargeting        83904    1798          110
2      01/01/23     TikTok   Prospecting        77023    2644          261
3      01/01/23    YouTube   Retargeting        34385    1570           42
4      01/01/23    YouTube   Prospecting        78641    2731           11
...         ...        ...           ...          ...     ...          ...
19995  29/11/23   SnapChat   Prospecting        91465    1201           46
19996  29/11/23   Facebook   Prospecting        15414     134          173
19997  29/11/23   SnapChat   Prospecting        68686    1964          134
19998  29/11/23  Instagram   Retargeting        91967     365           29
19999  30/11/23   Facebook   Prospecting        51634     294          208

          Revenue       Cost            Region AdCreative
0       $3,910.74  $2,101.08     East Midlands  CreativeC
1      $11,700.93  $6,955.66     East Midlands  CreativeC
2       $9,756.09  $1,471.76        North East  CreativeB
3       $4,341.76    $101.55            London  CreativeC
4       $8,860.43  $1,337.07     West Midlands  CreativeA
...           ...        ...               ...        ...
19995     $803.95  $1,461.74  Northern Ireland  CreativeA
19996   $7,311.93  $4,559.23            London  CreativeC
19997   $3,601.11  $3,650.29          Scotland  CreativeB
19998   $7,372.90    $323.18     West Midlands  CreativeB
19999   $8,721.89  $6,925.09            London  CreativeC

[20000 rows x 10 columns]

,Date,Campaign,Campaign Type,Impressions,Clicks,Conversions,Revenue,Cost,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA

In [4]:
#Rename few columns

df.rename (columns = {'Campaign':'Platform', 'Date':'Day', 'Cost':'Spend'}, inplace =True)
print (df.columns)
print ('Column names have been renamed')
df.head()

Index(['Day', 'Platform', 'Campaign Type', 'Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Spend', 'Region', 'AdCreative'],
      dtype='object')
Column names have been renamed

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA

In [6]:
#Converting Revenue and Spend into numeric values

df['Revenue'] = df['Revenue'].replace('[\$,]', '', regex=True).astype(float)
df['Spend'] = df['Spend'].replace('[\$,]', '', regex=True).astype(float)
df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative
0,01/01/23,SnapChat,Retargeting,102704,1593,157,3910.74,2101.08,East Midlands,CreativeC
1,01/01/23,YouTube,Retargeting,83904,1798,110,11700.93,6955.66,East Midlands,CreativeC
2,01/01/23,TikTok,Prospecting,77023,2644,261,9756.09,1471.76,North East,CreativeB
3,01/01/23,YouTube,Retargeting,34385,1570,42,4341.76,101.55,London,CreativeC
4,01/01/23,YouTube,Prospecting,78641,2731,11,8860.43,1337.07,West Midlands,CreativeA

In [7]:
#Calculate new metrics 

df['CTR'] = df['Clicks']/df['Impressions']
print ('CTR column has been created')


df['CPA'] = df['Spend']/df['Conversions']
print ('CPA column has been created')


df['CPC'] = df['Clicks']/df['Spend']
print ('CPC column has been created')


df['ROAS'] = df['Revenue']/df['Spend']
print ('ROAS column has been created')


df['CPM'] = (df['Spend']/df['Impressions']) * 100
print ('CPM column has been created')

df.head()

CTR column has been created
CPA column has been created
CPC column has been created
ROAS column has been created
CPM column has been created

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,ROAS,CPM
0,01/01/23,SnapChat,Retargeting,102704,1593,157,3910.74,2101.08,East Midlands,CreativeC,0.015511,13.382675,0.758182,1.861300,2.045763
1,01/01/23,YouTube,Retargeting,83904,1798,110,11700.93,6955.66,East Midlands,CreativeC,0.021429,63.233273,0.258495,1.682217,8.290022
2,01/01/23,TikTok,Prospecting,77023,2644,261,9756.09,1471.76,North East,CreativeB,0.034327,5.638927,1.796489,6.628859,1.910806
3,01/01/23,YouTube,Retargeting,34385,1570,42,4341.76,101.55,London,CreativeC,0.045659,2.417857,15.460364,42.754899,0.295332
4,01/01/23,YouTube,Prospecting,78641,2731,11,8860.43,1337.07,West Midlands,CreativeA,0.034727,121.551818,2.042526,6.626751,1.700220

In [8]:
# Round CTR, CPC, CPM, and ROAS columns to two decimal places

df['CTR'] = df['CTR'].round(2)
df['CPA'] = df['CPA'].round(2)
df['CPC'] = df['CPC'].round(2)
df['CPM'] = df['CPM'].round(2)
df['ROAS'] = df['ROAS'].round(2)

df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,ROAS,CPM
0,01/01/23,SnapChat,Retargeting,102704,1593,157,3910.74,2101.08,East Midlands,CreativeC,0.02,13.38,0.76,1.86,2.05
1,01/01/23,YouTube,Retargeting,83904,1798,110,11700.93,6955.66,East Midlands,CreativeC,0.02,63.23,0.26,1.68,8.29
2,01/01/23,TikTok,Prospecting,77023,2644,261,9756.09,1471.76,North East,CreativeB,0.03,5.64,1.80,6.63,1.91
3,01/01/23,YouTube,Retargeting,34385,1570,42,4341.76,101.55,London,CreativeC,0.05,2.42,15.46,42.75,0.30
4,01/01/23,YouTube,Prospecting,78641,2731,11,8860.43,1337.07,West Midlands,CreativeA,0.03,121.55,2.04,6.63,1.70

In [11]:
# Format 'CPC', 'CPA', 'ROAS','CPM', 'Spend' and 'Revenue' columns as currency

df['Spend'] = df['Spend'].map('${:,.2f}'.format)
df['Revenue'] = df['Revenue'].map('${:,.2f}'.format)
df['CPC'] = df['CPC'].map('${:,.2f}'.format)
df['CPA'] = df['CPA'].map('${:,.2f}'.format)
df['ROAS'] = df['ROAS'].map('${:,.2f}'.format)
df['CPM'] = df['CPM'].map('${:,.2f}'.format)

df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,ROAS,CPM
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC,0.02,$13.38,$0.76,$1.86,$2.05
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC,0.02,$63.23,$0.26,$1.68,$8.29
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB,0.03,$5.64,$1.80,$6.63,$1.91
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC,0.05,$2.42,$15.46,$42.75,$0.30
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA,0.03,$121.55,$2.04,$6.63,$1.70

In [13]:
#Concatenate 'Platform' and 'Campaign Type' to create 'Campaign Name'

df['Campaign Name'] = df['Campaign Type'] + '-' + df['Platform']
df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,ROAS,CPM,Campaign Name
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC,0.02,$13.38,$0.76,$1.86,$2.05,Retargeting-SnapChat
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC,0.02,$63.23,$0.26,$1.68,$8.29,Retargeting-YouTube
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB,0.03,$5.64,$1.80,$6.63,$1.91,Prospecting-TikTok
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC,0.05,$2.42,$15.46,$42.75,$0.30,Retargeting-YouTube
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA,0.03,$121.55,$2.04,$6.63,$1.70,Prospecting-YouTube

In [14]:
# Convert CTR to percentage format

df['CTR'] = (df['CTR'] * 100).round(2).astype(str) + '%'
df.head()

,Day,Platform,Campaign Type,Impressions,Clicks,Conversions,Revenue,Spend,Region,AdCreative,CTR,CPA,CPC,ROAS,CPM,Campaign Name
0,01/01/23,SnapChat,Retargeting,102704,1593,157,"$3,910.74","$2,101.08",East Midlands,CreativeC,2.0%,$13.38,$0.76,$1.86,$2.05,Retargeting-SnapChat
1,01/01/23,YouTube,Retargeting,83904,1798,110,"$11,700.93","$6,955.66",East Midlands,CreativeC,2.0%,$63.23,$0.26,$1.68,$8.29,Retargeting-YouTube
2,01/01/23,TikTok,Prospecting,77023,2644,261,"$9,756.09","$1,471.76",North East,CreativeB,3.0%,$5.64,$1.80,$6.63,$1.91,Prospecting-TikTok
3,01/01/23,YouTube,Retargeting,34385,1570,42,"$4,341.76",$101.55,London,CreativeC,5.0%,$2.42,$15.46,$42.75,$0.30,Retargeting-YouTube
4,01/01/23,YouTube,Prospecting,78641,2731,11,"$8,860.43","$1,337.07",West Midlands,CreativeA,3.0%,$121.55,$2.04,$6.63,$1.70,Prospecting-YouTube

In [15]:
#Reorder columns
 
df = df [['Day', 'Platform','Campaign Type', 'Campaign Name','Impressions', 'Clicks',
       'Conversions', 'Revenue', 'Spend', 'Region', 'CTR','CPA', 'CPC','ROAS','CPM','AdCreative']]
print(df.columns)

Index(['Day', 'Platform', 'Campaign Type', 'Campaign Name', 'Impressions',
       'Clicks', 'Conversions', 'Revenue', 'Spend', 'Region', 'CTR', 'CPA',
       'CPC', 'ROAS', 'CPM', 'AdCreative'],
      dtype='object')

In [16]:
# Save the DataFrame to a CSV file

file_path = "Modified_Marketing_Campaign_Data_py.csv"

df.to_csv(file_path, index=False)

print("CSV file saved successfully.")

CSV file saved successfully.